

header {
    padding: 50px;
}

header, footer {
    color: white;
    background-color: rgb(156, 102, 102);
}

main {
    height: 200px;
}

h2 {
    margin: 0;
}

.left-menu {
    background-color: #e48526;
}

.top-menu {
    background-color: #a77565;
}

.middle-pannel {
    height: 80%;
    padding:0;
}

.middle-pannel * {
    font-weight: 700;
    padding: 0;
    margin: 0;
    
}

.row {
    margin:0;
}

body {
    text-align: center;
}

.foto1 {
    background-color: #b15969;
}

.foto2 {
    background-color: #00b9d1;
}

